<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.UFCWEntire" connectionString="Data Source=.;Initial Catalog=Ufcw_new;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>